<p id="notice"><%= notice %></p>

<h1>Autos</h1>

<table>
  <thead>
    <tr>
      <th>Vin</th>
      <th>Placas</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Anio</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @autos.each do |auto| %>
      <tr>
        <td><%= auto.Vin %></td>
        <td><%= auto.Placas %></td>
        <td><%= auto.Marca %></td>
        <td><%= auto.Modelo %></td>
        <td><%= auto.Anio %></td>
        <td><%= auto.Color %></td>
        <td><%= link_to 'Show', auto %></td>
        <td><%= link_to 'Edit', edit_auto_path(auto) %></td>
        <td><%= link_to 'Destroy', auto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auto', new_auto_path %>
