<p id="notice"><%= notice %></p>

<p>
  <strong>Vin:</strong>
  <%= @auto.Vin %>
</p>

<p>
  <strong>Placas:</strong>
  <%= @auto.Placas %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @auto.Marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @auto.Modelo %>
</p>

<p>
  <strong>Anio:</strong>
  <%= @auto.Anio %>
</p>

<p>
  <strong>Color:</strong>
  <%= @auto.Color %>
</p>

<%= link_to 'Edit', edit_auto_path(@auto) %> |
<%= link_to 'Back', autos_path %>
